extend ../basic

append content
	h1 Редактирование пользователя

	form.col-md-6(method='POST')
			p
				label Логин
				input(type="text" name="login" id="login" class="input-area form-control" value=user.login disabled)

			p
				label Ф.И.О.
				input(type="text" name="fullName" id="fullName" class="input-area form-control" value=user.fullName minlength="3" maxlength="50" pattern='^[A-Za-zА-Яа-яЁё]{3,50}+$' placeholder="Полное имя" required)

			p
				label Права
				select(name="role" id="role" class="input-area form-control" required)
					each role in roles
						if(role.id == user.role)
							option( checked value=role.id )= role.name
						else
							option( value=role.id )= role.name

			input(type="submit" class="btn btn-default" id="submit" value="Сохранить")
