extend ../basic

append content

	h1 Список пользователей
	.table-responsive.container-fluid
		table.table.table-hover
			thead
				tr
					th Логин
					th E-mail
					th Ф.И.О.
					th Телефон
					th Права
			tbody
				each user in users
					tr
						td
							a(href="/admin/users/"+user.login)= user.login
						td admin@phys-tech.ru
						td= user.fullName
						td +7 978 355 35 35
						td= roles[user.role].name
