extend basic

block append head
    title Добавление новости
block append content
    h1 Добавление новости
    form(method='POST' enctype="multipart/form-data")
        label Заголовок :
        input(type='text' name='title')
        br
        label Описание :
        textarea(name='desc')
        br
        label Картинка :
        input(id="files-field" name="avatar" type="file" multiple="multiple")
        button(type='submit') Добавить
