doctype
html
    head
        block title
            title Физико-Технический Институт
        block head
            link(rel='stylesheet' href='/css/bootstrap.css')
    body
        header
            block header
        div
            block content
                a(href='/logout') Выйти
                br
                label Список страниц для тестов и разработки :
                ul
                    li
                        a(href='/') Главная страница
                    li
                        a(href='/login') Тестовая страница входа
                    li
                        a(href='/editor/addNews') Добавление новости
                    li
                        a(href='/admin/users') Список пользователей
                    li
                        a(href='/admin/editUser') Редактирование пользователя
                    li
                        a(href='/admin/createUser') Создание пользователя
                    li
                        a(href='/editor/addPhotos') Добавление фото
                    li
                        a(href='/gallery') Галерея

        footer
