doctype
html
    head
        block title
            title Физико-Технический Институт
        block head
            link(rel='stylesheet' href='/public/css/bootstrap.css')
            link(rel='stylesheet' href='/public/css/style.css')
            script(src='/public/js/jquery-3.1.1.min.js')
            script(src='/public/js/bootstrap.js')
    body
        header
            block header
            block nav
                nav.navbar.navbar-default(role='navigation')
                  .navbar-header
                    button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
                      span.sr-only Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar 
                    a.navbar-brand(href='#') 
                        img(src='/public/images/phystechlogo.png' alt='Физико-технический институт')
                  #navbarCollapse.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#') Абитуриенту
                              b.caret
                            ul.dropdown-menu(role='menu')
                              li
                                a(href='#') 1
                              li
                                a(href='#') 2
                              li
                                a(href='#') 3
                              li
                                a(href='#') 4
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#') Студенту
                              b.caret
                            ul.dropdown-menu(role='menu')
                              li
                                a(href='#') 1
                              li
                                a(href='#') 2
                              li
                                a(href='#') 3
                              li
                                a(href='#') 4
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#') Преподавателю
                              b.caret
                            ul.dropdown-menu(role='menu')
                              li
                                a(href='#') 1
                              li
                                a(href='#') 2
                              li
                                a(href='#') 3
                              li
                                a(href='#') 4
                    form.navbar-form.navbar-left(role='search')
                      .form-group.col-md-12
                        input.form-control(type='text', placeholder='Найти')
                    ul.nav.navbar-nav.navbar-right
                      li
                        a(href='/logout') Выйти
        div
            block content
                br
                label Список страниц для тестов и разработки :
                ul
                    li
                        a(href='/') Главная страница
                    li
                        a(href='/login') Тестовая страница входа
                    li
                        a(href='/editor/addNews') Добавление новости
                    li
                        a(href='/admin/users') Список пользователей
                    li
                        a(href='/admin/createUser') Создание пользователя
                    li
                        a(href='/editor/addPhotos') Добавление фото
                    li
                        a(href='/gallery') Галерея

        footer
