extend basic

block append head
    link(rel='stylesheet' href='/css/login.css')
block append content
    div(class="container")
        form.form-signin(method='post' action='/login')
            h2.form-signin-heading Вход
            label(for="inputEmail" class='sr-only') Логин
            input(type="text" name='login' class="form-control" placeholder="Логин" required autofocus)
            label(for="inputPassword" class="sr-only") Пароль
            input(type="password" name='password' class="form-control" placeholder="Пароль" required)
            .checkbox
                label
                    input(type="checkbox" value="remember-me")
                    | Remember me
            button(type='submit').btn.btn-lg.btn-primary.btn-block Войти
