extend basic

append head
    //- Заменяем title или добавляем скрипты и css тут. В basic.pug только те
    //- скрипты и css, которые используются на всех страницах
block content
    h1 Hello bitches!
