extend basic

append head
    //- Заменяем title или добавляем скрипты и css тут. В basic.pug только те
    //- скрипты и css, которые используются на всех страницах
append content
    section.latest-news
        img(src='/public/images/1.jpg')
        .latest-text
            h1 Безопасность веб-приложений
            p Сегодня в значительной степени растёт взаимозависимость между странами, определяющаяся постоянно расширяющейся сетью Интернет. Быстрое развитие компьютеров, связанных с ними сетей и инфраструктуры толкнуло мир в «информационную эру», которая в целом распространяется на период с конца двадцатого века по настоящее время...
            a(href='#') 
                span.glyphicon.glyphicon-chevron-right
                span   Узнать подробности
    img(src='/public/images/kostil.png' style="height: auto; width: 100%;")
    


